{{#*inline "ja-nei-barnenavn"}}
    {{#> soknad/ja-nei label=(replace label "{navn}" (upper navn.verdi)) }}{{/soknad/ja-nei}}
{{/inline}}

<h4>{{@root.teksterUtenomSpørsmål.[pdf.bosted.seksjonstittel]}}</h4>
{{#table columns=2}}
    {{> ja-nei-barnenavn spørsmål.borFastMedSøker }}
    {{#if spørsmål.skriftligAvtaleOmDeltBosted.verdi}}
        {{> ja-nei-barnenavn spørsmål.skriftligAvtaleOmDeltBosted }}
    {{/if}}
    {{#> soknad/ja-nei spørsmål.søkerHarBoddMedAndreForelder oppfølgingCondition="JA"}}
        {{#if spørsmål.søkerFlyttetFraAndreForelderDato.verdi }}
            {{> soknad/oppfolging-dato spørsmål.søkerFlyttetFraAndreForelderDato }}
        {{/if}}
    {{/soknad/ja-nei}}
{{/table}}