<section class="soknad-section">
<h3>{{section-number}}. {{@root.teksterUtenomSpørsmål.[dinlivssituasjon.sidetittel]}}</h3>

{{#with spørsmål}}
{{> soknad/sporsmal-med-svar felt=erAsylsøker svar-type="ja-nei" }}

{{> soknad/sporsmal-med-svar felt=arbeidIUtlandet svar-type="ja-nei" }}
{{#each arbeidsperioderUtland as | arbeidsperiode | }}
<p class="periode-tittel">{{label}}</p>
{{#with verdi}}
{{> soknad/sporsmal-med-svar felt=arbeidsperiodeAvsluttet svar-type="ja-nei" }}
{{> soknad/sporsmal-med-svar felt=arbeidsperiodeland svar-type="normal" }}
{{> soknad/sporsmal-med-svar felt=arbeidsgiver svar-type="normal" }}
{{> soknad/sporsmal-med-svar felt=fraDatoArbeidsperiode svar-type="dato" }}
{{> soknad/sporsmal-med-svar felt=tilDatoArbeidsperiode svar-type="dato" }}
{{/with}}
{{/each}}

{{> soknad/sporsmal-med-svar felt=mottarUtenlandspensjon svar-type="ja-nei" }}
{{#each pensjonsperioderUtland as | pensjonsperiode | }}
<p class="periode-tittel">{{label}}</p>
{{#with verdi}}
{{> soknad/sporsmal-med-svar felt=mottarPensjonNå svar-type="ja-nei" }}
{{> soknad/sporsmal-med-svar felt=pensjonsland svar-type="normal" }}
{{> soknad/sporsmal-med-svar felt=pensjonFra svar-type="dato" }}
{{> soknad/sporsmal-med-svar felt=pensjonTil svar-type="dato" }}
{{/with}}
{{/each}}
{{/with}}
</section>
