{{#> soknad/seksjon seksjon-nummer=(add @index seksjon-nummer-start) tittel=(replace @root.teksterUtenomSpørsmål.[eøs-om-barn.sidetittel] "{barn}" (upper navn.verdi)) }}
<div class="soknad-sporsmal-med-svar">
<p>Her kommer det en del oppramsing av spørsmål</p>
</div>
{{/soknad/seksjon}}
