<section class="soknad-seksjon">
<h2 class="soknad-seksjon-tittel">{{add @index section-number-start }}. {{ replace @root.teksterUtenomSpørsmål.[eøs-om-barn.sidetittel] "{barn}" (upper navn.verdi)}}</h2>
<div class="soknad-sporsmal-med-svar">
<p>Her kommer det en del oppramsing av spørsmål</p>
</div>
<hr class="soknad-seksjon-slutt-linje">
</section>