<section class="soknad-section">
<h3>{{section-number}}. {{@root.teksterUtenomSpørsmål.[pdf.hvilkebarn.seksjonstittel]}}</h3>
{{#each barn}}
<table>
<tr>
{{> soknad/felt-celle navn }}
{{> soknad/felt-celle alder }}
</tr>
<tr>
{{> soknad/felt-celle ident }}
{{#> soknad/felt-celle-boolsk borMedSøker yes=@root.teksterUtenomSpørsmål.[pdf.hvilkebarn.registrert-på-adresse] no=@root.teksterUtenomSpørsmål.[pdf.hvilkebarn.registrert-på-adresse] }}{{/soknad/felt-celle-boolsk}}
</tr>
</table>
{{/each}}
</section>
