{{#*inline "oppsamling-oppfølging"}}
<div class="soknad-sporsmal-med-svar">
{{#each barn }}
{{#with (lookup this.spørsmål barnFelt) as | barnFelt |}}
{{#eq barnFelt.verdi "JA"}}
{{#if @first }} <p class="soknad-sporsmal">{{ barnFelt.label }}</p>
{{/if}}
<p>{{ navn.verdi}}</p>
{{/eq}}
{{/with}}
{{/each}}
</div>
{{/inline}}


{{#*inline "oppsamlingspørsmål"}}
{{#with (lookup spørsmål oppsamling) as | oppsamling |}}
{{> soknad/sporsmal-med-svar felt=oppsamling svar-type="ja-nei" }}
{{> oppsamling-oppfølging barnFelt=barnFelt }}
{{/with}}
{{/inline}}

<section class="soknad-section">
<h3>{{section-number}}. {{@root.teksterUtenomSpørsmål.[pdf.ombarna.seksjonstittel]}}</h3>
{{> oppsamlingspørsmål oppsamling="erNoenAvBarnaFosterbarn" barnFelt="erFosterbarn" }}
{{> oppsamlingspørsmål oppsamling="oppholderBarnSegIInstitusjon" barnFelt="oppholderSegIInstitusjon" }}
{{> oppsamlingspørsmål oppsamling="erBarnAdoptertFraUtland" barnFelt="erAdoptertFraUtland" }}
{{> oppsamlingspørsmål oppsamling="søktAsylForBarn" barnFelt="erAsylsøker" }}
{{! Den eneste med reversert condition, behandles for seg selv }}
{{> soknad/sporsmal-med-svar felt=spørsmål.barnOppholdtSegTolvMndSammenhengendeINorge svar-type="ja-nei" }}
{{> oppsamling-oppfølging barnFelt="boddMindreEnn12MndINorge" }}
{{> oppsamlingspørsmål oppsamling="mottarBarnetrygdForBarnFraAnnetEøsland" barnFelt="barnetrygdFraAnnetEøsland" }}
{{> oppsamlingspørsmål oppsamling="erAvdødPartnerForelder" barnFelt="andreForelderErDød" }}
</section>

