{{#*inline "ja-nei-barnenavn"}}
{{#> soknad/ja-nei label=(replace label "{navn}" (upper navn.verdi)) }}{{/soknad/ja-nei}}
{{/inline}}
<h4>{{replace @root.teksterUtenomSpørsmål.[pdf.søker-for-tidsrom.seksjonstittel] "{navn}" (upper barn.navn.verdi)}}</h4>
{{> soknad/sporsmal-med-svar felt=barn.spørsmål.søkerForTidsrom svar-type="ja-nei" }}
{{> soknad/sporsmal-med-svar felt=barn.spørsmål.søkerForTidsromStartdato svar-type="dato" }}
{{> soknad/sporsmal-med-svar felt=barn.spørsmål.søkerForTidsromSluttdato svar-type="dato" }}
