<h4>{{replace @root.teksterUtenomSpørsmål.[pdf.søker-for-tidsrom.seksjonstittel] "{navn}" (upper barn.navn.verdi)}}</h4>
{{# table columns=2}}
{{> soknad/felt-celle-dato barn.spørsmål.søkerForTidsromStartdato}}
{{> soknad/felt-celle-dato barn.spørsmål.søkerForTidsromSluttdato}}
{{/table}}