{{#if andreForelder}}
{{#*inline "ja-nei-barnenavn"}}
{{#> soknad/ja-nei label=(replace label "{navn}" (upper navn.verdi)) }}
{{> @partial-block }}
{{/soknad/ja-nei}}
{{/inline}}

<h4>{{ @root.teksterUtenomSpørsmål.[pdf.andreforelder.seksjonstittel]}}</h4>
{{#table columns=2}}
{{#with andreForelder }}
{{> soknad/felt-celle navn }}
{{#if fnr.verdi}}
{{#> soknad/felt-celle-med-oppfølging fnr }}
{{#if fødselsdato.verdi}}
{{> soknad/oppfolging-dato fødselsdato}}
{{/if}}
{{/soknad/felt-celle-med-oppfølging}}
{{/if}}
{{!-- TODO Fjerne if check når eøs er lansert --}}
{{#eq @root.kontraktVersjon 7}}
{{#if arbeidUtlandet.verdi}}
{{#> ja-nei-barnenavn arbeidUtlandet oppfølgingCondition="JA" }}
{{/ja-nei-barnenavn}}
{{/if}}
{{#each arbeidsperioderUtland as | arbeidsperiode | }}
<td>
<h5>{{ arbeidsperiode.label }}</h5>
{{> soknad/arbeidsperiode arbeidsperiode.verdi }}
</td>
{{/each}}
{{ else }}
{{#> ja-nei-barnenavn arbeidUtlandet oppfølgingCondition="JA" }}
{{> soknad/oppfolging arbeidUtlandetHvilketLand }}
{{/ja-nei-barnenavn }}
{{/eq}}
{{#if pensjonUtland.verdi}}
{{#> ja-nei-barnenavn pensjonUtland oppfølgingCondition="JA"}}
{{> soknad/oppfolging pensjonHvilketLand }}
{{/ja-nei-barnenavn}}
{{/if}}
{{/with}}
{{/table}}
{{/if}}
