<div class="oppfølging">
<h4>{{cut label "(format dd.mm.åååå)"}}</h4>
{{! Her burde det gå an å konvertere fra ISO8601 til norsk format, trenger nok custom helper }}
<ul><li>{{verdi}}</li></ul>
</div>