<h3>Søker</h3>
<section class="soknad-section">
<table>
<tr>
<td>
Navn<br/>
<b>{{navn}}</b>
</td>
</tr>
<tr>
<td>
{{søker.spørsmål.erklæring.label}}<br/>
<b>{{søker.spørsmål.erklæring.verdi}}</b>
</td>
</tr>
</table>
</section>

{{> soknad/omdeg søker }}
{{> soknad/hvilke-barn søknad }}
{{> soknad/om-barna søknad }}
{{#with spørsmål as | søknadspørsmål | }}
{{#each barn as | barn | }}
{{> soknad/om-barnet barn }}
{{> soknad/andre-forelder barn }}
<h4>Søker du barnetrygd for et spesielt tidsrom for {{upper barn.navn.verdi}}?</h4>
<section class="soknad-section">
{{# table columns=2}}
{{> soknad/felt-celle-dato barn.spørsmål.søkerForTidsromStartdato}}
{{> soknad/felt-celle-dato barn.spørsmål.søkerForTidsromSluttdato}}
{{/table}}
</section>
{{/each}}
{{/with}}