<section class="soknad-section">
<h3>Søker</h3>
{{#table columns=1}}
{{> soknad/felt-celle søker.navn }}
{{> soknad/felt-celle søker.spørsmål.erklæring }}
{{/table}}
</section>

{{> soknad/omdeg søker }}
{{> soknad/hvilke-barn søknad }}
{{> soknad/om-barna søknad }}
{{#with spørsmål as | søknadspørsmål | }}
{{#each barn as | barn | }}
{{> soknad/om-barnet barn }}
{{/each}}
{{/with}}
{{> soknad/vedlegg }}