<!--- felles start -->
<br>**Informasjon om satsar**
<br>Stortinget fastset satsane for barnetrygda kvart år, og satsane kan derfor bli endra. Du kan lese meir om dette på nav.no/satser.

<br>**Sjekk utbetalingane dine**
<br>Du får utbetalt barnetrygd siste virkedag i månaden. Barnetrygda er skattefri.
<br>Sjekk alle utbetalingane du har mottatt på nav.no/dittnav. Her kan du også endre kontonummeret ditt.

<br>**Du må melde frå om endringar**
<br>Dersom det skjer endringar som kan ha betydning for stønaden du får utbetalt, må du straks melde frå til NAV. Du finn meir informasjon i vedlegget til dette brevet.

<br>**Du har rett til å klage**
<br>Du kan klage innan seks veker frå den datoen du mottok vedtaket. Du finn skjema og informasjon på nav.no/klage.

<br>**Du har rett til innsyn**
<br>På nav.no/dittnav kan du sjå dokumenta i saka di.

<br>**Har du spørsmål?**
<br>Du finn nyttig informasjon på nav.no/barnetrygd.
<br>Du kan også kontakte oss på 55 55 33 33.
<br>
<br>

<br>Med venleg helsing
<br>{{enhet}}
{{#if erBehandletAutomatisk}}

<br>Saken har blitt automatisk saksbehandla. Vedtaksbrevet er derfor ikkje underskrevet av saksbehandler.
{{else}}
<br><div id="hilsen"><span id="saksbehandler">{{saksbehandler}}</span><span id="beslutter">{{beslutter}}</span></div>
{{/if}}
<br>
<br>

<br>Vedlegg:
<br>Rettane og pliktene til stønadsmottakaren
