For at vi skal kunne behandle søknaden din om barnetrygd, må du sende oss:
<ul>
{{#each dokumenter}}<li>{{this}}</li>{{/each}}
{{#if fritekst.length}}<li>{{fritekst}}</li>{{/if}}
</ul>

<br>**Hva skjer hvis du ikke sender opplysningene?**
<br>Hvis vi ikke får opplysningene innen **to uker**, vil vi avgjøre saken med de opplysningene vi har. Da kan vi avslå søknaden din. Dette går frem av barnetrygdloven §§ 17 og 18.

<br>**Slik sender du dokumenter**
<br>Du kan sende dokumentene sammen med den vedlagte førstesiden eller gå inn på nav.no/ettersendelse.
<br>Velg barnetrygd og følg instruksjonene du får på skjermen.

<br>**Saksbehandlingstid**
<br>Saken din vil bli behandlet så snart som mulig. Du kan lese mer om saksbehandlingstider på nav.no/saksbehandlingstid.

<br>**Har du spørsmål?**
<br>Du finner nyttig informasjon på nav.no/barnetrygd.
<br>Du kan også kontakte oss på 55 55 33 33.


<br>Med vennlig hilsen
<br>{{enhet}}
<br>{{saksbehandler}}
