{{#if erKlage}}
    Vi har vurdert retten din til barnetrygd på nytt, fordi du har klaga.
    <br/>
{{/if}}

{{> submaler/du-får-seksjon/nn/template }}

{{> submaler/etterbetaling/nn/template }}

{{#if erFeilutbetaling}}
    <br>**Feilutbetaling**
    <br>Dersom du har fått utbetalt for mykje barnetrygd, vil du få eit eige brev om dette.
{{/if}}

<br>**Du har rett til å klage**
<br>Du kan klage innan seks veker frå den datoen du mottok vedtaket. Du finn skjema og informasjon på nav.no/klage.

<br>**Du har rett til innsyn**
<br>På nav.no/dittnav kan du sjå dokumenta i saka di.

<br>**Har du spørsmål?**
<br>Du finn nyttig informasjon på nav.no/barnetrygd.
<br>Du kan også kontakte oss på 55 55 33 33.
<br>
<br>

<br>Med venleg helsing
<br>{{enhet}}
<br>
<div id="hilsen"><span id="saksbehandler">{{saksbehandler}}</span><span id="beslutter">{{beslutter}}</span></div>
<br>
<br>
