{{#*inline "ja-nei-barnenavn"}}
    {{#> soknad/ja-nei label=(replace label "{navn}" (upper navn.verdi)) }}
        {{> @partial-block }}
    {{/soknad/ja-nei}}
{{/inline}}

<h4>{{ @root.teksterUtenomSpørsmål.[pdf.andreforelder.seksjonstittel]}}</h4>
{{#table columns=2}}
    {{> soknad/felt-celle spørsmål.andreForelderNavn }}
    {{#if spørsmål.andreForelderFnr.verdi}}
        {{#> soknad/felt-celle-med-oppfølging spørsmål.andreForelderFnr }}
            {{#if spørsmål.andreForelderFødselsdato.verdi}}
                {{> soknad/oppfolging-dato spørsmål.andreForelderFødselsdato}}
            {{/if}}
        {{/soknad/felt-celle-med-oppfølging}}
    {{/if}}
    {{#> ja-nei-barnenavn spørsmål.andreForelderArbeidUtlandet oppfølgingCondition="JA"}}
        {{> soknad/oppfolging spørsmål.andreForelderArbeidUtlandetHvilketLand }}
    {{/ja-nei-barnenavn}}
    {{#> ja-nei-barnenavn spørsmål.andreForelderPensjonUtland oppfølgingCondition="JA"}}
        {{> soknad/oppfolging spørsmål.andreForelderPensjonHvilketLand }}
    {{/ja-nei-barnenavn}}
{{/table}}