{{#*inline "ja-nei-barnenavn"}}
    {{#> soknad/ja-nei label=(replace label "{navn}" (upper navn.verdi)) }}{{/soknad/ja-nei}}
{{/inline}}

<h4>{{ @root.teksterUtenomSpørsmål.[pdf.bosted.seksjonstittel] }}</h4>
{{#table columns=2}}
    {{> ja-nei-barnenavn spørsmål.borFastMedSøker }}
    {{#if spørsmål.skriftligAvtaleOmDeltBosted.verdi}}
        {{> ja-nei-barnenavn spørsmål.skriftligAvtaleOmDeltBosted }}
    {{/if}}
{{/table}}