<section class="soknad-section">
    <h3>1337. Din livssituasjon</h3>
    {{#table columns=2}}
        <td>
            <h5>{{ spørsmål.årsak.label}}</h5>
            <p>{{ spørsmål.årsak.verdi}}</p>
        </td>
        <td>
            <h5>Har du samboer nå?</h5>
            <p>Ja</p>
            <h5>Samboerens navn</h5>
            <p>Dolly Duck</p>
            <h5>Fødselsnummer / d-nummer</h5>
            <p>12345678903</p>
            <h5>Når startet samboerforholdet?</h5>
            <p>08.06.2015</p>
        </td>
        <td>
            <h5>Er du separert, skilt, eller enke/enkemann uten at dette er registrert i folkeregisteret i Norge?</h5>
            <p>Ja</p>
            <h5>Er du separert, skilt eller enke/enkemann i utlandet?</h5>
            <p>Nei</p>
            <h5>Fra hvilken dato er du separert, skilt eller enke/enkemann?</h5>
            <p>08.06.2015</p>
        </td>
    {{/table}}
</section>
