<section class="soknad-section">
    <h3>{{add @index section-number-start }}. {{ replace @root.teksterUtenomSpørsmål.[pdf.ombarnet.seksjonstittel] "{navn}" (upper navn.verdi)}}</h3>
    {{> soknad/om-barnet-info }}
    {{> soknad/om-barnet-andre-forelder }}

    {{! Om barnet bosted}}
    <h4>{{ @root.teksterUtenomSpørsmål.[pdf.bosted.seksjonstittel] }}</h4>
    {{> soknad/sporsmal-med-svar felt=spørsmål.borFastMedSøker svar-type="ja-nei" }}
    {{> soknad/sporsmal-med-svar felt=andreForelder.skriftligAvtaleOmDeltBosted svar-type="ja-nei" }}
    {{! Gjelder utvidet}}
    {{> soknad/sporsmal-med-svar felt=andreForelder.utvidet.søkerHarBoddMedAndreForelder svar-type="ja-nei" }}
    {{> soknad/sporsmal-med-svar felt=andreForelder.utvidet.søkerFlyttetFraAndreForelderDato svar-type="dato" }}

    {{! Om barnet tidsrom}}
    {{> soknad/sporsmal-med-svar felt=barn.spørsmål.søkerForTidsrom svar-type="ja-nei" }}
    {{> soknad/sporsmal-med-svar felt=barn.spørsmål.søkerForTidsromStartdato svar-type="dato" }}
    {{> soknad/sporsmal-med-svar felt=barn.spørsmål.søkerForTidsromSluttdato svar-type="dato" }}
</section>