{{#*inline "titteltekst"}}
    {{#with søknadspørsmål.oppfølgingsspørsmåltekster.verdi as | titteltekster | }}
        {{#with (lookup titteltekster klammeTekstId) as | tekst | }}
            {{~ replace tekst "{navn}" navn.verdi ~}}
        {{/with}}
    {{/with }}
{{/inline}}

<section class="soknad-section">
    <h3>{{add @index 4 }}. Om {{upper navn.verdi}}</h3>
    {{#table columns=2}}
        {{#eq spørsmål.oppholderSegIInstitusjon.verdi "JA"}}
            <td>
                <h4>{{> titteltekst klammeTekstId="[ombarnet.institusjon]" }}</h4>
                {{> soknad/oppfolging spørsmål.institusjonsnavn }}
                {{> soknad/oppfolging spørsmål.institusjonsadresse }}
                {{> soknad/oppfolging spørsmål.institusjonspostnummer }}
                {{> soknad/oppfolging-dato spørsmål.institusjonOppholdStartdato }}
                {{> soknad/oppfolging-dato spørsmål.institusjonOppholdSluttdato }}
            </td>
        {{/eq}}
        {{#eq spørsmål.boddMindreEnn12MndINorge.verdi "JA"}}
            <td>
                <h4>{{> titteltekst klammeTekstId="[ombarnet.sammenhengende-opphold]" }}</h4>
                {{> soknad/oppfolging-dato spørsmål.nårKomBarnTilNorgeDato }}
                {{> soknad/oppfolging spørsmål.planleggerÅBoINorge12Mnd }}
            </td>
        {{/eq}}
        {{#eq spørsmål.barnetrygdFraAnnetEøsland.verdi "JA"}}
            <td>
                <h4>{{> titteltekst klammeTekstId="[ombarnet.barnetrygd-eøs]" }}</h4>
                {{> soknad/oppfolging spørsmål.barnetrygdFraEøslandHvilketLand }}
            </td>
        {{/eq}}
        {{#eq spørsmål.barnetrygdFraAnnetEøsland.verdi "JA"}}
            <td>
                <h4>{{> titteltekst klammeTekstId="[ombarnet.oppholdutland]" }}</h4>
                {{> soknad/oppfolging spørsmål.barnetrygdFraEøslandHvilketLand }}
            </td>
        {{/eq}}
    {{/table}}
</section>