{{#*inline "oppsamling-oppfølging"}}
    <div class="soknad-sporsmal-med-svar">
        {{#each barn }}
            {{#with (lookup this.spørsmål barnFelt) as | barnFelt |}}
                {{#if @first }}
                    <p class="soknad-sporsmal">{{ barnFelt.label }}</p>
                {{/if}}
                {{#eq barnFelt.verdi "JA"}}
                    <p>{{ navn.verdi }}</p>
                {{/eq}}
            {{/with}}
        {{/each}}
    </div>
{{/inline}}

{{#*inline "oppsamlingspørsmål"}}
    {{#with (lookup spørsmål oppsamling) as | oppsamling |}}
        {{> soknad/sporsmal-med-svar felt=oppsamling svar-type="ja-nei" }}
        {{#eq oppsamling.verdi "JA"}}
            {{> oppsamling-oppfølging barnFelt=barnFelt }}
        {{/eq}}
    {{/with}}
{{/inline}}

<section class="soknad-section">
    <h3>{{section-number}}. {{@root.teksterUtenomSpørsmål.[pdf.ombarna.seksjonstittel]}}</h3>
    {{> oppsamlingspørsmål oppsamling="erNoenAvBarnaFosterbarn" barnFelt="erFosterbarn" }}
    {{> oppsamlingspørsmål oppsamling="oppholderBarnSegIInstitusjon" barnFelt="oppholderSegIInstitusjon" }}
    {{> oppsamlingspørsmål oppsamling="erBarnAdoptertFraUtland" barnFelt="erAdoptertFraUtland" }}
    {{> oppsamlingspørsmål oppsamling="søktAsylForBarn" barnFelt="erAsylsøker" }}
    {{! Den eneste med reversert condition, behandles for seg selv }}
    {{> soknad/sporsmal-med-svar felt=spørsmål.barnOppholdtSegTolvMndSammenhengendeINorge svar-type="ja-nei" }}
    {{#eq spørsmål.barnOppholdtSegTolvMndSammenhengendeINorge.verdi "NEI"}}
        {{> oppsamling-oppfølging barnFelt="boddMindreEnn12MndINorge" }}
    {{/eq}}
    {{> oppsamlingspørsmål oppsamling="mottarBarnetrygdForBarnFraAnnetEøsland" barnFelt="barnetrygdFraAnnetEøsland" }}
    {{> oppsamlingspørsmål oppsamling="erAvdødPartnerForelder" barnFelt="andreForelderErDød" }}
</section>

