{{#*inline "ja-nei-barnenavn"}}
    {{#> soknad/ja-nei label=(replace label "{navn}" (upper navn.verdi)) }}{{/soknad/ja-nei}}
{{/inline}}

<h4>{{ @root.teksterUtenomSpørsmål.[pdf.bosted.seksjonstittel] }}</h4>
{{> soknad/sporsmal-med-svar felt=spørsmål.borFastMedSøker svar-type="ja-nei" }}
{{> soknad/sporsmal-med-svar felt=andreForelder.skriftligAvtaleOmDeltBosted svar-type="ja-nei" }}

{{! Gjelder utvidet}}
{{> soknad/sporsmal-med-svar felt=andreForelder.utvidet.søkerHarBoddMedAndreForelder svar-type="ja-nei" }}
{{> soknad/sporsmal-med-svar felt=andreForelder.utvidet.søkerFlyttetFraAndreForelderDato svar-type="dato" }}