{{#*inline "ja-nei-barnenavn"}}
    <td class="ja-nei">
        <h5>{{replace label "{navn}" (upper navn.verdi)}}</h5>
        <p>{{verdi}}</p>
        {{#eq verdi oppfølgingCondition }}
            {{> @partial-block }}
        {{/eq}}
    </td>
{{/inline}}

<h4>Søker du barnetrygd for et spesielt tidsrom for {{upper barn.navn.verdi}}?</h4>
{{# table columns=2}}
    {{#if barn.spørsmål.søkerForTidsrom}}
        {{> ja-nei-barnenavn barn.spørsmål.søkerForTidsrom }}
    {{/if}}
    {{#if barn.spørsmål.søkerForTidsromStartdato}}
        {{> soknad/felt-celle-dato barn.spørsmål.søkerForTidsromStartdato}}
    {{/if}}
    {{#if barn.spørsmål.søkerForTidsromSluttdato}}
        {{> soknad/felt-celle-dato barn.spørsmål.søkerForTidsromSluttdato}}
    {{/if}}
{{/table}}