<section class="soknad-section">
    <h3>{{teksterUtenomSpørsmål.[pdf.søker.seksjonstittel]}}</h3>
    {{#table columns=1}}
        {{> soknad/felt-celle søker.navn }}
        {{> soknad/felt-celle spørsmål.lestOgForståttBekreftelse }}
    {{/table}}
</section>
{{> soknad/omdeg søker section-number=1 }}
{{> soknad/din-livssituasjon søker section-number=2}}
{{> soknad/hvilke-barn søknad section-number=2 }}
{{> soknad/om-barna søknad section-number=3 }}
{{#with spørsmål as | søknadspørsmål | }}
    {{#each barn as | barn | }}
        {{> soknad/om-barnet barn section-number-start=4 }}
    {{/each}}
{{/with}}
{{> soknad/vedlegg section-number=(add barn.length 4) }}