<h3>NAV har avsluttet saken din om barnetrygd</h3>

<br><span style="color: grey;">*Navn: {{navn}}*</span>
<br><span style="color: grey;">*Fødselsnummer: {{fodselsnummer}}*</span>
<br>
<br>

<br>Vi har fått beskjed om at du trekker søknaden om barnetrygd, og avslutter derfor saken din.

<br>**Har du spørsmål?**
<br>Du finner nyttig informasjon på nav.no/familie. Du kan også kontakte oss på telefon {{kontaktTelefonnummer}}.

<br> Med vennlig hilsen
<br>{{navnAvsenderEnhet}}
