<h3>Du beholder barnetrygden din</h3>

<br><span style="color: grey;">*Navn: {{navn}}*</span>
<br><span style="color: grey;">*Fødselsnummer: {{fodselsnummer}}*</span>
<br>
<br>

<br>Vi har fått opplysningene vi har bedt om, og du har fremdeles rett til barnetrygden.

<br>**Har du spørsmål?**
<br>Du finner nyttig informasjon på nav.no/familie. Du kan også kontakte oss på telefon {{kontaktTelefonnummer}}.

<br>Med vennlig hilsen
<br>{{navnAvsenderEnhet}}
