For at vi skal kunne behandle søknaden din om barnetrygd, må du sende oss:
<ul>
{{#each dokumenter}}<li>{{this}}</li>{{/each}}
{{#if fritekst.length}}<li>{{fritekst}}</li>{{/if}}
</ul>

<br>**Kva skjer dersom du ikkje sender opplysningane?**
<br>Dersom vi ikkje får opplysningane innan **to veker**, vil vi avgjere saka med dei opplysningane vi har. Då kan vi avslå søknaden din. Dette går fram av barnetrygdlova §§ 17 og 18.

<br>**Slik sender du dokument**
<br>Du kan sende dokumenta saman med den vedlagde førstesida eller gå inn på nav.no/ettersendelse.
<br>Velg barnetrygd og følg instruksjonane du får på skjermen.

<br>**Saksbehandlingstid**
<br>Saka di vil bli behandla så snart som mogeleg. Du kan lese meir om saksbehandlingstider på nav.no/saksbehandlingstid.

<br>**Har du spørsmål?**
<br>Du finn nyttig informasjon på nav.no/barnetrygd.
<br>Du kan også kontakte oss på 55 55 33 33.


<br>Med venleg helsing
<br>{{enhet}}
<br>{{saksbehandler}}
