<section class="soknad-section">
<h3>{{teksterUtenomSpørsmål.[soeker]}}</h3>
{{> soknad/sporsmal-med-svar felt=søker.navn svar-type="normal" }}
{{> soknad/sporsmal-med-svar felt=spørsmål.lestOgForståttBekreftelse svar-type="normal" }}
</section>
{{> soknad/omdeg søker section-number=1 }}
{{> soknad-utvidet/din-livssituasjon-utvidet søker section-number=2}}
{{> soknad/hvilke-barn søknad section-number=3 }}
{{> soknad/om-barna søknad section-number=4 }}
{{#with spørsmål as | søknadspørsmål | }}
{{#each barn as | barn | }}
{{> soknad/om-barnet barn section-number-start=5 }}
{{/each}}
{{/with}}

{{#if søker.harEøsSteg}}
{{> soknad/eos-for-soker søker seksjon-nummer=(add barn.length 5) }}
{{/if}}

{{#with spørsmål as | søknadspørsmål | }}
{{#each barn as | enkeltBarn | }}
{{#if enkeltBarn.harEøsSteg}}
{{> soknad/eos-for-barn enkeltBarn seksjon-nummer-start=(add (add barn.length 5) 1) }}
{{/if}}
{{/each}}
{{/with}}

{{> soknad/vedlegg section-number=(add (add antallEøsSteg barn.length) 5) }}
