<section class="soknad-section">
<h3>Søker</h3>
{{#table columns=1}}
{{> soknad/felt-celle søker.navn }}
{{> soknad/felt-celle spørsmål.lestOgForståttBekreftelse }}
{{/table}}
</section>
{{> soknad/omdeg søker section-number=1 }}
{{> soknad-utvidet/din-livssituasjon søker.utvidet section-number=2}}
{{> soknad/hvilke-barn søknad section-number=3 }}
{{> soknad/om-barna søknad section-number=4 }}
{{#with spørsmål as | søknadspørsmål | }}
{{#each barn as | barn | }}
{{> soknad-utvidet/om-barnet-utvidet barn section-number-start=5 }}
{{/each}}
{{/with}}
{{> soknad/vedlegg section-number=(add barn.length 5) }}