<br><h3>Vi har avslått søknaden din om barnetrygd</h3>

<br>Navn: {{navn}}
<br>Fødselsnummer: {{fodselsnummer}}
<br>
<br>

<br>Du har ikke rett til barnetrygd fordi {{fritekst}}.
<br>
<br> Vedtaket er gjort etter barnetrygdloven §{{hjemmel}}
<br>
<br> {{> Fellesmal-avslag/template }}
